name: pull_request

on:
  pull_request:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  # Build a fresh container for the PR.
  build-container:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      # Debug "No space left on device (os error 28)" issues
      - name: Check disk usage
        run: df -h
      - name: Check sizes of directories in home directory
        run: du -sh /home/runner/* | sort -h
      - name: Check sizes of directories in tools cache
        run: du -sh /opt/hostedtoolcache/* | sort -h

      # A recent run of du -sh /opt/hostedtoolcache/* | sort -h yielded:
      # 24K	/opt/hostedtoolcache/Java_Temurin-Hotspot_jdk
      # 217M	/opt/hostedtoolcache/Ruby
      # 520M	/opt/hostedtoolcache/PyPy
      # 574M	/opt/hostedtoolcache/node
      # 1.1G	/opt/hostedtoolcache/go
      # 1.7G	/opt/hostedtoolcache/CodeQL
      # 1.9G	/opt/hostedtoolcache/Python
      # Since we are just building a Docker container we delete some unused
      # pre-installed tools to make space.
      - name: Free up disk space by deleting /opt/hostedtoolcache/CodeQL
        run: rm -rf /opt/hostedtoolcache/CodeQL
      - name: Free up disk space by deleting /opt/hostedtoolcache/Python
        run: rm -rf /opt/hostedtoolcache/Python

      # Login against a Docker registry
      # https://github.com/docker/login-action
      - name: Log into registry
        uses: docker/login-action@v3.6.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@v3.12.0

      # Build and push Docker image as "pandoc_test"
      # Only amd64, since we're just building a container
      # to be used below in the GH action runner.
      - name: Build and publish Docker image
        uses: docker/build-push-action@v6.18.0
        with:
          # Cache layers from the container repo.
          # Read-only: Avoid cluttering up the cache on pull requests.
          cache-from: type=gha
          platforms: linux/amd64
          push: true
          tags: ghcr.io/trustedcomputinggroup/pandoc_test:latest

  # Use the fresh container to render the samples.
  render-samples:
    needs: build-container
    uses: ./.github/workflows/render.yml
    with:
      container: ghcr.io/trustedcomputinggroup/pandoc_test
      container-version: latest
      input: guide.tcg
      workflow: pr
